body{
    background-color: yellowgreen;
    }
    .heading{
        width: 80%;
        font-size: 35px;
    }
    .nameofpeople{
        color: purple;
    }
    #camera{
        border: 2px solid black;
        width: 350px;
        height: 350px;
    }
    #result_objectname,#result_objectaccuracy{
    color: orange;
    }